@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900');

/* CSS declarations go here */
html,body {
   height:100%;
   font-family:'Lato',sans-serif;
   font-size:21px;
}

#login-buttons a, .accounts-dialog a, #login-buttons .login-button, .accounts-dialog .login-button	 {
   text-decoration:none;
   line-height:32px;
   font-size:24px;
   padding:5px;
   border-radius:5px;
   background:#27ae60;
   font-weight:300;
   box-shadow:2px 2px #075e30;
   margin:20px 0px;
   display:block;
   color:white;
   font-family:'Lato', sans-serif;
}
.login-buttons-dropdown-align-{

margin-top: -13px;
margin-left:10px;
}

 .wrapper
 {
     height:150px;
     margin-top:-12px;
 }
 .sticky_navigation_wrapper {
        width: 100%;
        height: 85px;
    }
.space{
width:250px;
}

.space2{
  width:300px;
}

#position-of-tag{
  display: inline-block;
  margin-top: 10px;
  margin-left: 360px;
  font-size: 25px;
  color:white;

}
    .sticky_navigation {
        top: 0;
        left: 0;
        z-index: 10000;
        width: 100%;
        background: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

.headerfixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.headerrelative {
    position: relative;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.headerrelative .navbar
{
    padding:10px 0px;
     -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.headerfixed .navbar
{
    padding:0px;
     -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.navbar-default
{
        background-color:#27ae60;
    border-color:#27ae60;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand
{
    color:#fff;
}


.info{
color:#2ecc71;;
font-family:'Lato', sans-serif;
font-size:35px;
text-decoration:none;
line-height:20px;
font-weight:550;
background-color:black;
height:100px;
width:400px;
margin-left:50px;
margin-bottom:0px;
margin-top:70px;
}

.des{
color:white;
margin-left:10px;
display:inline;
}

.box{
margin-top:30px;
}

#info{
color:#2ecc71;;
font-family:'Lato', sans-serif;
font-size:35px;
text-decoration:none;
line-height:20px;
font-weight:550;
background-color:black;
height:70px;
width:400px;
margin-left:50px;
margin-bottom:0px;
margin-top:70px;
}


table {
    border-collapse: collapse;
color:white;
}

table, th, td {
    border: 1px solid white;
	padding: 10px;
}

.display{
width:1050px;
height:100%;
background-color:rgba(0,0,0,0.3);
margin-left:150px;
}

.poly{
 background-color:yellow;
height:1460px;

}

#dis{
width:200px;
height:100px;
}


th {

    color:white;
}

#login-buttons a:hover, .accounts-dialog a:hover, #login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
  background-color:#2ecc71;
}

* {
margin:0;
padding:0;
transition: 0.5s all ease;
}

.home{
   height:100%;
   background-image:url('background.jpg');
   background-size:cover;
   background-position:center center;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   color:white;
}

.bk{
   height:559px;
    background-image:url('background.jpg');
   background-size:cover;
   background-position:center center;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   color:white;
}

.text-center{
  text-align: center;
}

.space-bot{
  margin-bottom: 35px;
}

.space-top{
  margin-top: 35px;
}

/* Title */

h1 {
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

/* Sign Up */

.container {
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
}

.alert-danger{
	text-align: center;
}

.signup-screen {
	  padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #2c3940;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: white;
}

.btn{
  border-radius: 2px;
}

.cancel{
  background-color: #df405a;
}

.done{
  background-color: #5CAB7D;
}

.done:hover{
  background-color: #6dc793;
}

.done:focus{
  background-color: #6dc793;
}

.cancel:hover{
  background-color: #f0435f;
}

.cancel:focus{
  background-color: #f0435f;
}

.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;

}

.help-block {
    font-size: 12px;
    color: white
}


.background{
   padding:0px;
   background-color:rgba(0,0,0,1);
   height:100%;
   width:500px;
}

.background-template{
  min-height:100%;
    background-color: #263238;
}

.background-template1{
   padding:0px;
   background-color:rgba(0,0,0,1);
   height:600px;
   width:500px;
}

.background-template2{
   padding:0px;
   background-color:rgba(0,0,0,1);
   height:420px;
   width:500px;
}


.background-template3{
   padding:0px;
   background-color:rgba(0,0,0,1);
   height:420px;
   width:500px;
}

.background-template4{
   padding:0px;
   background-color:rgba(0,0,0,1);
   height:190px;
   width:500px;
}

.background-template5{
   padding:0px;
   background-color:rgba(0,0,0,1);
   height:168px;
   width:500px;
}

.background-polythene{
   height:100%;
width:100%;
   background-color:rgba(0,0,0,0.6);
   background-size:cover;
   background-position:center center;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   color:white;
}



#designofattr{
display:inline-block;
}

.overalldesign{
background-color:black;
}

.polyy{
   padding:10px;
   background-color:rgba(0,0,0,0.8);
   height:100%;
   width:100%;
}

.polythene{
   padding:10px;
   background-color:rgba(0,0,0,1);
   height:300px;
   width:300px;
   border-style: double;
}
 .pos{
margin-right:120px;
width:250px;
}

.style{
margin-top:50px;
}

.s1{
margin-top:0px;
}
th{
  color:black;
  width:200px;
}



h1 {
   font-family:'Oswald', serif;
   font-weight:400;
   font-size:100px;
   text-align:center;
   text-transform:capitalize;
   color:#fafafa;
}

#login-dropdown-list{
   position:fixed;
   height:100%;
   width:300px;
   top:0px;
   left:10px;
   padding:10px;
   background:rgba(0,0,0,0.8);
   border:0px;
}

.additional-link{
   font-family:'lato',serif;
   font-size:19px !important;
   line-height:21px !important;
   background:transparent !important;
   box-shadow:0px 0px black !important;
}

.additional-link:hover{
    color:#27ae60 !important;
}

#login-buttons .login-close-text{
   font-size:16px;
   line-height:18px;
   background:transparent;
   box-shadow:0px 0px black;
   border:1px solid white;
}

#login-button .login-close-text:hover {
  color:#27ae60 !important;
}

.accounts-dialog label{
   font-family:'Lato', sans-serif;
   color:white;
   font-size:19px;
   margin-top:20px;
}
.cs{
margin-left:22px;
display:inline-block !important;
}


#name{
display:inline-block !important;
margin-top:20px;
color:white;
}

#name2{
display:inline-block !important;
color:white;
margin-bottom:20px;
}

#name1{
display:inline-block !important;
margin-left:10px;
width:260px;
margin-bottom:20px;
}

#name4{
display:inline-block !important;
margin-left:10px;
width:270px;
height:30px;
margin-bottom:20px;
margin-top:2px;
}

.size{
margin-top:0px;
}

#name5{
margin-left:10px;
color:white;
}

#name3{
display:inline-block !important;
margin-bottom:20px;
margin-left:40px;
color:white;
}

#css1{
   margin-left:100px;
   position:absolute;
   height:40px;
   width:300px;
   font-size:19px !important;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:24px;
   padding:5px;
   border-radius:5px;
   background:#27ae60;
   font-weight:300;
   box-shadow:2px 2px #075e30;
   display:block;
   color:white;
   font-family:'Lato', sans-serif;

}
#css1:hover{
  background-color:#2ecc71;
}

#css{
   margin-left:200px;
   position:absolute;
   height:40px;
   width:100px;
   font-size:19px !important;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:24px;
   padding:5px;
   border-radius:5px;
   background:#27ae60;
   font-weight:300;
   box-shadow:2px 2px #075e30;
   display:block;
   color:white;
   font-family:'Lato', sans-serif;

}
#css:hover{
  background-color:#2ecc71;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


a#signup-link{
  display:none;
}

.link5:hover{
opacity:1;
}

.link1:hover{
opacity:1;
}
.link2:hover{
opacity:1;
}
.link3:hover{
opacity:1;
}

.link4:hover{
opacity:1;
}
.link6:hover{
opacity:1;
}
.link7:hover{
opacity:1;
}

.link1{
background-color:white;
opacity:0.6;
color:#27ae60;
border-radius:100%;
border:none;
width:200px;
height:100px;
margin-left:0px;
padding:10px;
margin-bottom:400px;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:23px;
}
.link2{
background-color:white;
opacity:0.6;
color:#27ae60;
border-radius:100%;
border:none;
width:200px;
height:100px;
margin-left:20px;
padding:10px;
margin-bottom:400px;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:23px;
}
.link3{
background-color:white;
opacity:0.6;
color:#27ae60;
border-radius:100%;
border:none;
width:200px;
height:100px;
margin-left:20px;
padding:10px;
margin-bottom:400px;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:23px;
}
.link4{
background-color:white;
opacity:0.6;
color:#27ae60;
border-radius:100%;
border:none;
width:200px;
height:100px;
margin-left:20px;
padding:10px;
margin-bottom:400px;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:23px;
}
.link5{
background-color:white;
opacity:0.6;
color:#27ae60;
border-radius:100%;
border:none;
width:200px;
height:100px;
margin-left:20px;
padding:10px;
margin-bottom:400px;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:23px;
}

.link6{
background-color:white;
opacity:0.6;
color:#27ae60;
border-radius:100%;
border:none;
width:200px;
height:100px;
margin-left:10px;
padding:10px;
margin-bottom:400px;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:23px;
}

.upper-design{
margin-top:10px;
}

.link7{
background-color:white;
opacity:0.6;
color:#27ae60;
border-radius:100%;
border:none;
width:200px;
height:100px;
margin-left:20px;
padding:10px;
margin-bottom:400px;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:23px;
}



.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
.btn btn-primary pull-right{
background-color:#27ae60;
}

.form-area{
  margin-top:-80px !important;
}

#display-button{
  display:none;
}

.space-of{
  font-size:17px;
  font-weight:none;
}
table, th, td {
   border: 1.5px solid black;
}
table {
    width: 100%;
}

#design-of-button{
  width:400px;
  margin-left:300px;
}
.background-of-boot{

  margin-top:-130px;


}

th {
    height: 50px;
    width:150px;
}
.time-table{
  background-color:white;
  margin-left:-300px;
}


*/
.panel-table {
   display:table;
}
.panel-table > .panel-heading {
   display: table-header-group;
   background: transparent;
}
.panel-table > .panel-body {
   display: table-row-group;
}
.panel-table > .panel-body:before,
.panel-table > .panel-body:after {
   content:none;
}
.panel-table > .panel-footer {
   display: table-footer-group;
   background: transparent;
}
.panel-table > div > .tr {
   display: table-row;
}
.panel-table > div:last-child > .tr:last-child > .td {
   border-bottom:1px solid #ddd;
}
.panel-table .td {
   display: table-cell;
   padding: 15px;
   border: 1px solid #ddd;
   border-top: 1px solid #ddd;
   border-left: 1px solid #ddd;
}
.panel-table .td:last-child {
   border-right: 1px solid #ddd;
}
.panel-table > .panel-heading > .tr > .td,
.panel-table > .panel-footer > .tr > .td {
   background-color:  #f5f5f5;
}
.panel-table > .panel-heading > .tr > .td:first-child {
    border-radius: 4px 0 0 0;
}
.panel-table > .panel-heading > .tr > .td:last-child {
    border-radius: 0 4px 0 0;
}
.panel-table > .panel-footer > .tr > .td:first-child {
    border-radius: 0 0 0 4px;
}
.panel-table > .panel-footer > .tr > .td:last-child {
    border-radius: 0 0 4px 0;
}

.display-of-table{
  width:1000px;
}
.display-of-td{
  width:100px;
}
