@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900');
/* CSS declarations go here */
html,body {
   height:100%;
   font-family:'Lato',sans-serif;
   font-size:21px;
}

#login-buttons a, .accounts-dialog a, #login-buttons .login-button, .accounts-dialog .login-button	 {
   text-decoration:none;
   line-height:32px;
   font-size:24px;
   padding:5px;
   border-radius:5px;
   background:#27ae60;
   font-weight:300;
   box-shadow:2px 2px #075e30;
   margin:20px 0px;
   display:block;
   color:white;
   font-family:'Lato', sans-serif;
}
 
.info{
color:#2ecc71;;
font-family:'Lato', sans-serif;
font-size:35px;
text-decoration:none;
line-height:20px;
font-weight:550;
background-color:black;
height:100px;
width:400px;
margin-left:50px;
margin-bottom:0px;
margin-top:70px;
}


#info{
color:#2ecc71;;
font-family:'Lato', sans-serif;
font-size:35px;
text-decoration:none;
line-height:20px;
font-weight:550;
background-color:black;
height:70px;
width:400px;
margin-left:50px;
margin-bottom:0px;
margin-top:70px;
}



#login-buttons a:hover, .accounts-dialog a:hover, #login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
  background-color:#2ecc71;
}

* {
margin:0;
padding:0;
transition: 0.5s all ease;
}

.home{
   height:100%;
   background-image:url('background.jpg'); 
   background-size:cover;
   background-position:center center;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   color:white;
}

.bk{
   height:100%;
    background-image:url('background.jpg');
   background-size:cover;
   background-position:center center;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   color:white;
}

.background{
   padding:0px;
   background-color:rgba(0,0,0,1);
   height:100%;
   width:500px;
}

.polythene{
   padding:10px;
   background-color:rgba(0,0,0,0.9);
   height:300px;
   width:300px;
}
 .pos{
margin-right:120px;
width:250px;
}

.style{
margin-top:50px;
}

.s1{
margin-top:0px;
}

h1 {
   font-family:'Oswald', serif;
   font-weight:400;
   font-size:100px;
   text-align:center;
   text-transform:capitalize;
   color:#fafafa;
}

#login-dropdown-list{
   position:fixed;
   height:100%;
   width:300px;
   top:0px;
   left:10px;
   padding:10px;
   background:rgba(0,0,0,0.8);
   border:0px;
}

.additional-link{
   font-family:'lato',serif;
   font-size:19px !important;
   line-height:21px !important;
   background:transparent !important;
   box-shadow:0px 0px black !important;
}

.additional-link:hover{
    color:#27ae60 !important;
}

#login-buttons .login-close-text{
   font-size:16px;
   line-height:18px;
   background:transparent;
   box-shadow:0px 0px black;
   border:1px solid white;
}

#login-button .login-close-text:hover {
  color:#27ae60 !important;
}

.accounts-dialog label{
   font-family:'Lato', sans-serif;
   color:white;
   font-size:19px;
   margin-top:20px;
}
.cs{
margin-left:130px;
}

#name{
display:inline-block !important;
margin-bottom:20px;
}

#name2{
display:inline-block !important;

margin-bottom:20px;
}

#name1{
display:inline-block !important;
margin-left:10px;
width:260px;
margin-bottom:20px;
}

#name4{
display:inline-block !important;
margin-left:10px;
width:270px;
height:30px;
margin-bottom:20px;
margin-top:2px;
}

.size{
margin-top:0px;
}

#name5{
margin-left:10px;
}

#name3{
display:inline-block !important;
margin-bottom:20px;
margin-left:40px;
}

#css1{
   margin-left:100px;
   position:absolute;
   height:40px;
   width:300px;
   font-size:19px !important;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:24px;
   padding:5px;
   border-radius:5px;
   background:#27ae60;
   font-weight:300;
   box-shadow:2px 2px #075e30;
   display:block;
   color:white;
   font-family:'Lato', sans-serif;
   
}
#css1:hover{
  background-color:#2ecc71;
}

#css{
   margin-left:200px;
   position:absolute;
   height:40px;
   width:100px;
   font-size:19px !important;
   line-height:21px !important;
   border:none;
   text-decoration:none;
   line-height:32px;
   font-size:24px;
   padding:5px;
   border-radius:5px;
   background:#27ae60;
   font-weight:300;
   box-shadow:2px 2px #075e30;
   display:block;
   color:white;
   font-family:'Lato', sans-serif;
   
}
#css:hover{
  background-color:#2ecc71;
}
a#signup-link{
  /*display:none;*/
}
input {
display:block;
}
